@import "tailwindcss";

:root {
  font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* Agrega esto en tu archivo global.css o en un <style> tag */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

/* Efecto de blur en el fondo */
.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}